@charset "UTF-8";

/* CSS HEX CODES */
/*
	yellow: #FFD670;
	ash gray: #A3AA9C;
	red: #FF615C;
	blue: #112F47;
	purple: #4934A6;
	smokey white: #F5F5F5;
	peach: #FFE9BA;
	black: #33353A;
*/

/*==============================
	Base Element Styles
==============================*/

* {

	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', Verdana, sans-serif;
	font-size: 16px;
}

body {
	line-height: 1.6;
	color: #000000;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
  	min-height: 100vh;
}

 ol, 
 ul {
 	margin: 0;
 	padding: 0;
 	list-style: none;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

h2 {
	font-size: 1.8rem;
	color: #112F47;
}

h2,
h3 {
	margin-top: 0;
	font-family: 'Lato', Verdana, sans-serif;
}

h3 {
	margin-bottom: 0;
}

p {
	line-height: 2;
}

a {
	text-decoration: none;
	color: #4934A6;
}

a:hover {
	opacity: 0.7;
}

a:visited {
  color: #4934A6;
}

a:focus {
	color: #4934A6;
}

img {
	max-width: 100%;
}

/*==============================
	Base Layout Styles
==============================*/

.hide {
	display: none !important;
}

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;
}

.main-nav {
	margin-top: 5px;
}

.name,
.main-nav li {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
}

.name a {
	color: #33353A;
}

.name a:hover {
	opacity: 1;
}

.name a ,
.main-nav a {
	padding: 10px 15px;
	display: block;
}

.main-nav a {
	font-size: 1em;
	color: #33353A;
	background-color: #F5F5F5;
	letter-spacing: 1.5px;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgb(0,0,0,0.4);
}

.main-nav a:hover {
	color: #FFFFF;
	opacity: .7;
}

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	background: #FFFFFF;
	padding-top: .5em;
	padding-bottom: .5em;
	z-index: 1000;
}

.banner {
	color: #33353A;
	background: #F5F5F5F5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem 0;
}

.main-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about-me {
	margin-top: 3rem;
}

.skills {
	margin-top: 3rem;
}

.main-writing {
	margin-top: 4rem;
}

.portfolio-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	background: #FFE9BA;
	margin: 0 0.75rem 2rem 0.75rem;
	padding: 1.5rem;
	width: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.card-content {
	flex-grow: 1;
	margin-bottom: 1rem;
}

.card-tools,
.card-tools-items {
	display: flex;
	flex-direction: row;
}

.card-tools-items {
	flex-wrap: wrap;
}

.main-contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #112F47;
	padding: 3rem 0;
	margin-top: 3rem;
	text-align: center;
}

.main-social {
	display: flex;
	justify-content: center;
}

.main-footer {
	background: #F5F5F5;
	color: #33353A;
	padding: 2em 0;
	text-align: center;
	margin-top: auto;
}

/* ---- Inline Style ---- */

.headline {
	color: #33353A;
	font-size: 2.4rem;
	text-align: center;
	margin-bottom: 0.5rem;
}

.tagline {
	padding-bottom: 2rem;
	font-size: 1.125em;
}

.skills-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.skills-items li {
	color: #FFFFFF;
	padding: 0.75rem 1rem;
	margin: 0.5rem;
	border-radius: 15px;
}

.skills-items li:nth-child(odd) {
	background: #FFD670; /*yellow*/
	color: #33353A; /*black*/
}

.skills-items li:nth-child(even) {
	background: #112F47; /*blue*/
}

.card-title {
	letter-spacing: 0.5px;	
}

.card-tools strong {
	margin-top: 0.25rem;
	margin-right: 0.5rem;
}

.card-tools-items li {
	padding: 0.25rem 1rem;
	margin-right: 0.5rem;
	margin-bottom: 1rem;
	margin-left: 0.5rem;
	border-radius: 15px;
}

.card-tools-items li:nth-child(odd) {
	background: #33353A; /*black*/
	color: #FFFFFF;
}

.card-tools-items li:nth-child(even) {
	background: #FFFFFF;
	color: #33353A; /*black*/
}

.main-contact h3 {
	color: #FFD670;
	padding-bottom: 2rem;
	font-size: 1.8rem;
	letter-spacing: 1.5px;
}

.main-social {
	margin-bottom: 3rem;
}

.main-social li {
	margin: 0 0.5rem;
}

.main-social li a {
	padding: 10px 15px;
	display: block;
}

.main-social li a i {
	color: #112F47;
	font-size: 2rem;
}

.main-social li a i:hover {
	color: #112F47;
	opacity: 0.7;
}

.button-contact a[target="_blank"]::after,
.button-card a[target="_blank"]::after,
.external-link[target="_blank"]::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: " \f35d";
    margin-left: 0.1rem;
}

.copyright {
	font-size: 1rem;
}

.main-scroll {
	display: flex;
	justify-content: center;
	padding: 16px;
	margin-top: 2rem;
	position: static;
}

#scrollToTopBtn {
	border: none;
	color: #4934A6;
	background-color: #F5F5F5;
	cursor: pointer;
	font-size: 16px;
	transform: rotate(270deg);
	font-size: 2.5rem;
	padding: 0.75rem;
}

/* ---- Tooltips ---- */

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	font-size: 1rem;
	font-family: 'Open Sans', Verdana, sans-serif;
	width: 120px;
	color: #000000;
	padding: 15px 0;
	font-weight: 400;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -60px;
}

.tooltip .main-scroll-tooltip {
	/* Position the return to top tooltip */
	transform: rotate(90deg);
	top: 0%;
	margin-left: -120px;	
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}


/* ---- Buttons ---- */

.button-portfolio a {
	color: #FFD670;
	background: #112F47;
	padding: 0.75rem 2rem;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.button-card a {
	color: #FFFFFF;
	background: #4934A6;
	padding: 0.75rem 1rem 0.75rem 1rem;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.button-contact a {
	color: #FFD670;
	background: #112F47;
	border: 2px solid #FFD670;
	padding: 0.75rem 2rem;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
	overflow: hidden;
}

.button-portfolio a:hover,
.button-card a:hover,
.button-contact a:hover {
	opacity: 0.7;
}

/*==============================
	Media Queries
==============================*/

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {

}*/

/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {

}*/

/* Medium devices (landscape tablets, 769px and up) */
@media only screen and (min-width: 769px) {
	body {
		padding-top: 78px;  /*Enter the height of .main-header, compensating for space covered by the header */
	}

	h2,
	h3 {
		position: relative;
	}

	h2 span,
	h3 span {
		position:absolute;
		top:-110px;
	}

	.main-header {
		background: #F5F5F5;
		position: fixed;
		box-shadow: 0 1px 4px rgb(0,0,0,0.4);
		width: 100%;
		top: 0;
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.push-left {
   		margin-left: auto;
	}

	.name {
		width: 240px;
		text-align: left;
	}

	.main-nav {
		display: flex;
	}

	.name,
	.main-nav li {
		margin-bottom: 5px;
	}

	.main-nav li {
		display: inline-block; /* Displays the list items side-by-side */
	}

	 .main-nav a {
		color: #33353A;
		background-color: #F5F5F5;
		border: none;
		box-shadow: none;
	}

	.banner {
		margin-top: 2rem;
	}

	.main-info {
		display: flex;
		flex-direction: row;
		margin-top: 2rem;
	}

	.main-info .col {
		width: 48%;
	}

	.main-writing {
		margin-top: 3rem;
	}

	.portfolio-cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
	}

	.card {
		margin: 0 0 1rem 0;
	}

	.card1 {
		order: 0;
		flex-basis: 49%;
	}

	.card2 {
		order: 1;
		flex-basis: 49%;
	}

	.card3 {
		order: 2;
		flex-basis: 49%;
	}

	.card4 {
		order: 3;
		flex-basis: 49%;
	}

	.note-about-responsive {
		display: none
	}

	.main-scroll {
		display: flex;
		justify-content: flex-end;
		padding: 16px;
		position: relative;
		bottom: 120px;
		right: 30px;
		z-index: 1;
	}

	#scrollToTopBtn {
		border: none;
		color: #4934A6;
		background-color: #F5F5F5;
		position: absolute;
		cursor: pointer;
		font-size: 16px;
		transform: rotate(270deg);
		font-size: 2.5rem;
		padding: 0.75rem;
	}

} /* end media query - Medium devices */

/* Large devices (laptops/desktops, 1025px and up) */
@media only screen and (min-width: 1025px) {

	.container {
		width: 80%;
		max-width: 1150px; /* The layout will not get wider than this value in larger screens. */
	}

	.main-info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

} /* end media query - Large devices */